{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Responsive Bottom Nav</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.1/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="{% static 'vendor/flatpickr4.6.13/flatpickr.min.css' %}">
    

  </head>
  <body>
   <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CustomerProfile</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Person</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="mt-5">Contact Management</h1>
          <p class="lead">
            This is an example of a contact management page that allows you to
            view and manage customer contacts. You can add, edit, or delete
            contacts as needed.
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        
          <div class="col">
            <label for="input_firstname" class="col-form-label">First Name</label>
            <input type="text" id="input_firstname" class="form-control" >
          </div>
          <div class="col">
            <label for="input_lastname" class="col-form-label">Last Name</label>
            <input type="text" id="input_lastname" class="form-control" >
          </div>
          <div class="col">
            <label for="input_nickname" class="col-form-label">Nick Name</label>
            <input type="text" id="input_nickname" class="form-control" >
          </div>
      </div>
      <div class="row align-items-center"> 
         <div class="col">
            <label for="input_gender" class="col-form-label">Gender</label>
            <select class="form-select" aria-label="Gender select" id="input_gender">
              <option selected>Please Select Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
        </div>
        <div class="col">
            <label for="input_address" class="col-form-label">Birthday</label>
            <div class="input-group date">
              <input type="text" class="form-control" id="input_birthday" value="dd-mm-yyyy">
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
        </div>
      </div>
       <div class="row align-items-center"> 
        
        <div class="col">
            <label for="input_address" class="col-form-label">Address</label>
            <input type="text" id="input_address" class="form-control" >
        </div>
      </div>
      <div class="row align-items-center"> 
        <div class="col">
            <label for="input_province" class="col-form-label">Province</label>
            <select class="form-select" aria-label="Province select" id="input_province">
              <option selected>Please Select Province</option>
              
            </select>
        </div>
          <div class="col">
            <label for="input_district" class="col-form-label">District</label>
            <select class="form-select" aria-label="District select" id="input_district" disabled>
              <option selected>Please Select Province</option>
            
            </select>
        </div>
          <div class="col">
            <label for="input_subdistrict" class="col-form-label">Subdistrict</label>
            <select class="form-select" aria-label="Subdistrict select" id="input_subdistrict" disabled >
              <option selected>Please Select Province</option>
           
            </select>
        </div>
         <div class="col">
            <label for="input_subdistrict" class="col-form-label">Post Code</label>
            <input type="text" id="input_postcode" class="form-control" readonly>
        </div>
      </div>
      <div class="row align-items-center"> 
          <div class="col">
            <label for="input_mobile" class="col-form-label">Mobile</label>
            <input type="text" id="input_mobile" class="form-control" >
        </div>
        <div class="col">
            <label for="input_email" class="col-form-label">Email</label>
            <input type="email" id="input_email" class="form-control" >
        </div>
      </div>
      <div class="row align-items-center"> 
          <div class="col">
            <label for="input_mobile" class="col-form-label">Facebook</label>
            <input type="text" id="input_facebook" class="form-control" >
        </div>
        <div class="col">
            <label for="input_email" class="col-form-label">Line</label>
            <input type="text" id="input_line" class="form-control" >
        </div>
         <div class="col">
            <label for="input_email" class="col-form-label">instagram</label>
            <input type="text" id="input_ig" class="form-control" >
        </div>
           <div class="col">
            <label for="input_email" class="col-form-label">ticiok</label>
            <input type="text" id="input_tictok" class="form-control" >
        </div>
      </div>
      <div class="row align-items-center"> 
          <div class="col">
            <label for="input_mobile" class="col-form-label">Hobby</label>
            <input type="text" id="input_facebook" class="form-control" >
        </div>
        <div class="col">
            <label for="input_email" class="col-form-label">Food Favorite</label>
            <input type="text" id="input_line" class="form-control" >
        </div>
         <div class="col">
            <label for="input_email" class="col-form-label">Food Allergies</label>
            <input type="text" id="input_ig" class="form-control" >
        </div>
      </div>
      <div class="row align-items-center"> 
        <div class="col">
          <input type="checkbox" id="chk_alcohol">
          <label for="chk_alcohol">Alcohol</label>
        </div>
        <div class="col">
            <input class="form-check-input" type="checkbox" id="alcohol">
            <label class="form-check-label" for="alcohol">Alcohol</label>
          <input type="text" id="input_alcohol" class="form-control" >
        </div>
      </div>
         <div class="row align-items-center"> 
          <div class="col">
            <label for="input_mobile" class="col-form-label">Wine</label>
            {% comment %} <input type="checkbox" id="chk_wine" class="form-control"> {% endcomment %}
            <input type="text" id="input_wine" class="form-control" >
        </div>
        <div class="col">
            <label for="input_email" class="col-form-label">Cigarettes</label>
            {% comment %} <input type="checkbox" id="chk_cigarettes" class="form-control"> {% endcomment %}
            <input type="email" id="input_cigarettes" class="form-control" >

        </div>
      </div>
 <!-- <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div> -->
  </div>
      

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.1/dist/bootstrap-table.min.js"></script>
    <script src="{% static 'vendor/flatpickr4.6.13/flatpickr.js' %}"></script>
    {% comment %} <script src="../../static/js/fn_address.js"></script> {% endcomment %}
      
 
  </body>
  <script>
    $(document).ready(function () {
      // Initialize Bootstrap Table
      $('#table').bootstrapTable({
        url: 'data.json', // URL to fetch data
        columns: [
          {
            field: 'id',
            title: 'ID',
          },
          {
            field: 'name',
            title: 'Name',
          },
          {
            field: 'email',
            title: 'Email',
          },
        ],
      });
    });
   

 
      
    $(document).ready(function(){
      ////  Address --> Province --> District --> Subdistrict --> Postcode
        $.getJSON('/api/province', function (data) {
            data.forEach(function (prov) {
              $('#input_province').append(`<option value="${prov.id}">${prov.name}</option>`);
            });
          });
        $('#input_province').on('change', function () {
            const provinceId = $(this).val();
            $('#input_district').empty().append('<option value="">Please Select District</option>').prop('disabled', !provinceId);
            $('#input_subdistrict').empty().append('<option value="">Please Select District<</option>').prop('disabled', true);
            $('#input_postcode').val('');

            if (provinceId) {
              $.getJSON(`/api/district?province_id=${provinceId}`, function (data) {
                data.forEach(function (dist) {
                  $('#input_district').append(`<option value="${dist.id}">${dist.name}</option>`);
                });
              });
            }
          });
        $('#input_district').on('change', function () {
            const districtId = $(this).val();
            $('#input_subdistrict').empty().append('<option value="">Please Select Subdistrict</option>').prop('disabled', !districtId);
            $('#input_postcode').val('');
            if (districtId) {
              $.getJSON(`/api/subdistrict?district_id=${districtId}`, function (data) {
                data.forEach(function (subdist) {
                  $('#input_subdistrict').append(`<option value="${subdist.id}" data-zipcode="${subdist.code}">${subdist.name}</option>`);
                });
              });
            }
          });
        $('#input_subdistrict').on('change', function () {
            const subdistrictId = $(this).val();
            $('#input_zipcode').val('');
            const postCode = $(this).find(':selected').data('zipcode') || '';
            $('#input_postcode').val(postCode);
            
          });
      
    });
    flatpickr("#input_birthday", {
      dateFormat: "d-m-YYYY",
      locale: "th",
      maxDate: "today"
    });
    {% comment %} $('#input_birthday').datepicker(); {% endcomment %}

    

  </script>
</html>
