{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Data Center : {{pageTitle}}</title>
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/dataCenter.png' %}" rel="data-Center-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap5.3.3/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons1.11.3/bootstrap-icons.css' %}" rel="stylesheet">
    {% block css_script %}
        
    {% endblock %}

    <link rel="stylesheet" href="login_style.css">

<body>
  <header> <div class="px-3 py-2 text-bg-dark border-bottom"> <div class="container"> <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"> <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> </a> <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"> <li> <a href="#" class="nav-link text-secondary"> <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true"><use xlink:href="#home"></use></svg>
    Home
    </a> </li> <li> <a href="#" class="nav-link text-white"> <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true"><use xlink:href="#speedometer2"></use></svg>
    Dashboard
    </a> </li> <li> <a href="#" class="nav-link text-white"> <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true"><use xlink:href="#table"></use></svg>
    Orders
    </a> </li> <li> <a href="#" class="nav-link text-white"> <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true"><use xlink:href="#grid"></use></svg>
    Products
    </a> </li> <li> <a href="#" class="nav-link text-white"> <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true"><use xlink:href="#people-circle"></use></svg>
    Customers
    </a> </li> </ul> </div> </div> </div> <div class="px-3 py-2 border-bottom mb-3"> <div class="container d-flex flex-wrap justify-content-center"> <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search"> <input type="search" class="form-control" placeholder="Search..." aria-label="Search"> </form> <div class="text-end"> <button type="button" class="btn btn-light text-dark me-2">Login</button> <button type="button" class="btn btn-primary">Sign-up</button> </div> </div> </div> </header>
</body>
</head>

    