{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>LAMINA - Warranty Online</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon_io/android-chrome-192x192.png' %}" rel="icon">
  <link href="{% static 'assets/img/favicon_iofavicon-32x32.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'stylehome/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'stylehome/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'stylehome/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'stylehome/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'stylehome/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File Web -->
  <link href="{% static 'stylehome/css/main.css' %}" rel="stylesheet">

  <!-- Main CSS File Form-->
  {% comment %} <link href="{% static 'styleform/main.css' %}" rel="stylesheet"> 
  <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">{% endcomment %}


  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css" />

    {% comment %} <link href="{% static 'datepicker/jquery.datetimepicker.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'datepicker/jquery.datetimepicker.js' %}"></script> {% endcomment %}

    <script type="text/javascript" src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap-datepicker-thai.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/locales/bootstrap-datepicker.th.js' %}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body class="starter-page-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'wrtonline:homeWarranty' %}" class="logo d-flex align-items-center me-auto">
        <img src="{% static 'assets/img/Lamina-DIGITAL-White.jpg' %}" alt="">
        {% comment %} <h1 class="sitename">LAMINA</h1> {% endcomment %}
      </a>

      <nav id="navmenu" class="navmenu">
       {% comment %}  <ul>
          <li><a href="{% url 'wrtonline:homeWarranty' %}" class="active">Home</a></li>
        </ul> {% endcomment %}
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

       <!-- Contact Section -->
    <section id="contact" class="contact section" style="margin-top: 5%">

          <div class="container text-center">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 style="color:#032686;">ลงทะเบียนรับใบรับประกันคุณภาพ</h1> <br>
              </div>
          </div>


        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-12 mt-1">
  
            <div class="col-lg-12">
              <form id="frm" method="POST" action="{% url 'wrtonline:update_warranty' %}" enctype="multipart/form-data" class="php-email-form" style="background-color:#f8fbfc;">
                {% csrf_token %}    
                <div class="container" style="text-align:right;">
                  <p><strong>หมายเลขบัตรรับประกัน : {{number_wrt}}</strong></p>
                </div>
                
                {% comment %} type="hidden" {% endcomment %}
                <input type="hidden" id="number_wrt" name="number_wrt" value="{{ number_wrt }}">
                <input type="hidden" id="brand_wrt" name="brand_wrt" value="{{ brand_wrt }}">
                <input type="hidden" id="sys_db" name="sys_db" value="{{ sys_db }}">

                <p style="color:red; font-size: 13px;">** กรุณากรอกข้อมูลของท่านให้ครบถ้วน และตรวจสอบข้อมูลก่อนบันทึก **</span></p>
                
                <div class="title">ข้อมูลส่วนบุคคล <span style="color:red; font-weight: bold;">*</span></div>
                <div class="row mb-2">
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input type="text" name="cust_name" id="cust_name" class="form-control" placeholder="ชื่อ - นามสกุล / ชื่อบริษัท" required/>
                    </div>
                  </div>
              
                  <div class="col-sm">
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
                      <input type="hidden" class="form-control" name="cust_birthday" id="cust_birthday" />
                      <input type="text" class="form-control" name="cust_birthday_th" id="cust_birthday_th" placeholder="วัน/เดือน/ปีเกิด" autocomplete="off" required/>
                    </div>
                  </div>

                  
              
                  <div class="col-sm">
                      <select  class="form-select" id="cust_gender" name="cust_gender">
                      <option value="" selected disabled hidden>- เพศ -</option>
                      <option value="Male">ชาย</option>
                      <option value="Female">หญิง</option>
                      <option value="Another">ไม่ระบุ</option>
                    </select>
                  </div>
                </div>
              
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="cust_phone" class="form-control" id="cust_phone" placeholder="เบอร์ติดต่อ" maxlength="10" required/>
                    </div>
                  </div>
                  
                  {% comment %} <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="cust_mail" class="form-control" id="cust_mail" placeholder="E-mail"/>
                      <span style="color:red; font-size: 12px;">E-mail (ถ้ามี)</span>
                    </div>
                  </div> {% endcomment %}
                  
                </div>
                
                <br>
              
                <div class="title">ที่อยู่ <span style="color:red; font-weight: bold;">*</span></div>
                <div class="row mb-2">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <input type="text" name="cust_address" class="form-control" id="cust_address" placeholder="ที่อยู่" />
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="hidden" id="selected_province_name" name="selected_province_name">
                      <input type="hidden" id="cust_province_id" name="cust_province_id">
                      <select name="cust_province" id="cust_province" class="form-select">
                        <option value="" selected disabled hidden>- จังหวัด -</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="hidden" id="selected_district_name" name="selected_district_name">
                      <input type="hidden" id="cust_district_id" name="cust_district_id">
                      <select name="cust_district" id="cust_district" class="form-select">
                        <option value="" selected disabled hidden>- อำเภอ -</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="hidden" id="selected_subdistrict_name" name="selected_subdistrict_name">
                      <input type="hidden" id="cust_subdistrict_id" name="cust_subdistrict_id">
                      <select name="cust_subdistrict" id="cust_subdistrict" class="form-select">
                        <option value selected disabled hidden>- ตำบล -</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <input type="hidden" type="text" name="cust_postalcode"  id="cust_postalcode">
                      <input type="text" name="cust_postcode" class="form-control" id="cust_postcode" placeholder="รหัสไปรษณีย์" />
                    </div>
                  </div>
                </div>
                <br>
              
                <div class="title">รายละเอียดรถ <span style="color:red; font-weight: bold;">*</span></div>
                <div class="row mb-2">
                  <div class="col-sm">
                    <input type="hidden" id="selected_carbrand_name" name="selected_carbrand_name">
                    <input type="hidden" id="cust_carbrand_id" name="cust_carbrand_id">
                    <select name="cust_carbrand" class="form-select" id="cust_carbrand" onchange="updateSelectedCarBrand()">
                      <option value selected disabled hidden>- ยี่ห้อรถ -</option>
                    </select>
                  </div>
                  <div class="col-sm">
                    <input type="hidden" id="selected_carmodel_name" name="selected_carmodel_name">
                    <input type="hidden" id="cust_carmodel_id" name="cust_carmodel_id">
                    <select name="cust_carmodel" class="form-select" id="cust_carmodel" onchange="updateSelectedCarModel()">
                      <option value selected disabled hidden>- รุ่นรถ -</option>
                    </select>
                  </div>
                </div>
                <span id="vinspan" style="color:red; font-weight: bold; font-size: 14px;"></span>
                <div class="row mb-2">
                  <div class="col-sm">
                    <div class="form-group">
                      <input type="text" name="cust_liceseplateblack" id="cust_liceseplateblack" class="form-control" placeholder="เลขทะเบียนรถป้ายดำ" value="" />
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <input type="text" name="cust_vin" id="cust_vin" class="form-control" placeholder="หมายเลขตัวถัง (VIN)" value="" />
                    </div>
                  </div>
                </div>
            
                <br>
              
                <div class="title">วันที่ติดตั้ง / สถานที่ติดตั้ง <span style="color:red; font-weight: bold;">*</span></div>
                {% comment %} <div class="title-1 mb-2">&nbsp;&nbsp;&nbsp; ศูนย์ตัวแทน :  [{{ contact_wrt_code }}] {{ contact_wrt_name }} {{ contact_wrt_branch | default_if_none:'' }}</div> {% endcomment %}
                <div class="row mb-2">
                  <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
                      <input type="hidden" class="form-control" name="cust_install_date" id="cust_install_date" />
                      <input type="text" class="form-control" name="cust_install_dateTH" id="cust_install_dateTH" placeholder="วันที่ติดตั้ง" autocomplete="off" required />
                    </div>             
                  </div>
                  <div class="col-sm-4">
                    <input type="hidden" id="selected_cust_provin_install" name="selected_cust_provin_install">
                    <select name="provinceinstall" class="form-select" id="provinceinstall" onchange="updateSelectedProvinInstall()">
                      <option value selected disabled hidden>- กรุณาเลือกจังหวัดที่ติดตั้ง -</option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <input type="hidden" id="selected_cust_showroom_install" name="selected_cust_showroom_install" >
                    <input type="hidden" id="showroominstall_id" name="showroominstall_id" >
                    <select name="showroominstall" class="form-select" id="showroominstall" onchange="updateSelectedShowInstall()">
                      <option value selected disabled hidden>- กรุณาเลือกโชว์รูม/ศูนย์ตัวแทนที่ติดตั้ง -</option> 
                    {% comment %}   <option value selected disabled hidden> [{{ showroom_code }}] {{ showroom_name }} {{ showroom_branch | default_if_none:'' }}</option> {% endcomment %}
                    </select>
                  </div>
                </div>
                
                <div class="title">บริเวณที่ติดตั้งฟิล์ม <span style="color:red; font-weight: bold;">*</span></div>
                <input type="hidden" id="product_code" name="product_code" value="{{dataWRT.product_code}}">
   
                <div class="row mb-2">
                    <div class="col-sm-4">
                      <label>เฉพาะบานหน้าเต็มบาน </lable>
                      <input type="hidden" name="frontInstall_position" id="frontInstall_position" class="form-control" value="เฉพาะบานหน้าเต็มบาน" />
                      
                    </div>

                    <div class="col-sm-4">
                      <input type="hidden" id="frontInstall_group" name="frontInstall_group" >
                      <select class="form-select" id="front_group" name="front_group" onchange="updateSelectedBannaRobGroup()">
                        <option value selected disabled hidden>- กรุณาเลือกซีรีส์ฟิล์ม -</option>
                      </select>
                    </div> 

                    <div class="col-sm-4">
                    <input type="hidden" id="frontInstall_product" name="frontInstall_product" >
                    <select class="form-select" id="front_product" name="front_product" onchange="updateSelectedBannaRobPro()">
                      <option value selected disabled hidden>- กรุณาเลือกรุ่นฟิล์ม -</option>
                    </select>
                  </div> 
                  
                </div>
            
                <div class="row mb-2">
                    <div class="col-sm-4">
                      <label>รอบคัน ยกเว้นบานหน้า </lable>
                      <input type="hidden" name="aroundInstall_position" id="aroundInstall_position" class="form-control" value="รอบคัน ยกเว้นบานหน้า" />
                    </div>

                    <div class="col-sm-4">
                      <input type="hidden" id="aroundInstall_group" name="aroundInstall_group" >
                      <select class="form-select" id="around_group" name="around_group" onchange="updateSelectedRobCarGroup()">
                        <option value selected disabled hidden>- กรุณาเลือกซีรีส์ฟิล์ม -</option>
                      </select>
                    </div> 

                    <div class="col-sm-4">
                      <input type="hidden" id="aroundInstall_product" name="aroundInstall_product" >
                    <select class="form-select" id="around_product" name="around_product" onchange="updateSelectedRobCarPro()">
                      <option value selected disabled hidden>- กรุณาเลือกรุ่นฟิล์ม -</option>
                    </select>
                    </div>
                
                </div>
            
                  <div class="row mb-2">
                    <div class="col-sm-4">
                        <input type="text" name="anotherInstall_position" id="anotherInstall_position" class="form-control" placeholder="อื่นๆ เช่น ซันรูฟ โปรดระบุ"/>
                    </div> 
                    
                    <div class="col-sm-4">
                      <input type="hidden" id="anotherInstall_group" name="anotherInstall_group" >
                      <select class="form-select" id="another_group" name="another_group" onchange="updateSelectedAnotherGroup()">
                        <option value selected disabled hidden>- กรุณาเลือกซีรีส์ฟิล์ม -</option>
                      </select>
                    </div> 

                    <div class="col-sm-4">
                      <input type="hidden" id="anotherInstall_product" name="anotherInstall_product" >
                      <select class="form-select" id="another_product" name="another_product" onchange="updateSelectedAnotherPro()">
                        <option value selected disabled hidden>- กรุณาเลือกรุ่นฟิล์ม -</option>
                      </select>
                    </div>
            
                </div>
            
                <br>

                <div class="row mb-2">
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label" style="color:red;">กรุณาอัพโหลดภาพบัตรลงทะเบียน</label>
                      <input class="form-control" type="file" accept="image/*" id="image" name="image" required>
                    </div>
                    <input class="form-control" type="hidden" id="filename" name="filename" value={{number_wrt}}>
                </div>
              </div>
                
            
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" id="previewButton" class="next action-button btn btn-success">บันทึก</button>
                </div>
              </form>
              
              <!-- Popup Previews -->
              <div id="previewModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">กรุณาตรวจสอบข้อมูลของท่านก่อนกดบันทึก</h5>
                    </div>
                    <div class="modal-body">
                      <p id="previewContent"></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="confirmButton" class="btn btn-success">บันทึก</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelButton">ยกเลิก</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">บริษัท เทคโนเซล (เฟรย์) จำกัด</span>
          </a>
          <div class="footer-contact pt-3">
            <p>12/11 หมู่ 18 ถนนตลิ่งชัน-บางบัวทอง แขวงศาลาธรรมสพน์ เขตทวีวัฒนา กรุงเทพฯ 10170</p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href="https://www.facebook.com/LaminafilmsHQ/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.youtube.com/user/laminafilms1/featured" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="https://www.instagram.com/lamina_films/?igshid=18m04xpzxr32f" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://lin.ee/ot1aDYm" target="_blank"><i class="bi bi-chat"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>เกี่ยวกับเรา</h4>
          <ul>
            <li><a href="https://www.laminafilms.com/th/aboutus" target="_blank">ประวัติ</a></li>
            <li><a href="https://www.laminafilms.com/th/award" target="_blank">รางวัลความสำเร็จ</a></li>
            <li><a href="https://www.laminafilms.com/th/csr" target="_blank">CSR โครงการเพื่อสังคม</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>ข่าวสารโปรโมชั่น</h4>
          <ul>
            <li><a href="https://www.laminafilms.com/th/promotion" target="_blank">โปรโมชั่น</a></li>
            <li><a href="https://www.laminafilms.com/th/news" target="_blank">ข่าวสารประชาสัมพันธ์</a></li>
            <li><a href="https://www.laminafilms.com/th/knowledgeandarticle" target="_blank">บทความน่ารู้</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>ประเมินราคาฟิล์ม</h4>
          <ul>
            <li><a href="https://www.laminafilms.com/th/estimate-car-price" target="_blank">ประเมินราคาฟิล์มรถยนต์</a></li>
            <li><a href="https://www.laminafilms.com/th/estimate-building-film-price" target="_blank">ประเมินราคาฟิล์มบ้าน/อาคาร</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>การรับประกัน</h4>
          <ul>
            <li><a href="https://www.laminafilms.com/th/warranty" target="_blank">ลงทะเบียนรับประกันออนไลน์</a></li>
            <li><a href="https://www.laminafilms.com/th/warranty/lamina-films-warranty" target="_blank">เงื่อนไขการรับประกัน</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright 2024</span> <strong class="px-1 sitename"><a href="https://www.laminafilms.com/th/index" target="_blank">Lamina Films</a></strong><span>All Rights Reserved</span></p>
      <div class="credits">
        Developed by IT Team Lamina Films
        {% comment %} Developed by  <a href="mailto: dev.boonchoo@gmail.com" target="_blank">e-pong-dev</a> & Design by <a href="https://www.youtube.com/@diffindosubthai4602" target="_blank">清新</a></h6> {% endcomment %}
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'stylehome/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'stylehome/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'stylehome/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'stylehome/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'stylehome/js/main.js' %}"></script>


<script>
    $('#cust_gender').select2( {
        theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#cust_subdistrict').select2( {
      theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#cust_district').select2( {
      theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#cust_province').select2( {
      theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#cust_carbrand').select2( {
      theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#cust_carmodel').select2( {
      theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#locationinstall').select2( {
      theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#provinceinstall').select2( {
        theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#showroominstall').select2( {
      theme: "bootstrap-5",
      width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
      placeholder: $( this ).data( 'placeholder' ),
    });
    
    
    $('#front_group').select2( {
      theme: "bootstrap-5",
      width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
      placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#around_group').select2( {
      theme: "bootstrap-5",
      width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
      placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#another_group').select2( {
      theme: "bootstrap-5",
      width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
      placeholder: $( this ).data( 'placeholder' ),
    });

    $('#front_product').select2( {
      theme: "bootstrap-5",
      width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
      placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#around_product').select2( {
      theme: "bootstrap-5",
      width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
      placeholder: $( this ).data( 'placeholder' ),
    });
    
    $('#another_product').select2( {
      theme: "bootstrap-5",
      width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
      placeholder: $( this ).data( 'placeholder' ),
    });
    

    </script>


{% comment %} วันที่แสดงแบบ พ.ศ. แต่เวลาส่งค่า ส่งเป็น ค.ศ. {% endcomment %}
<script type="text/javascript">
  $(function(){
    $('#cust_install_dateTH').datetimepicker({
      timepicker: false,
      format: 'd/m/Y',
      lang: 'th',
      autoclose: true,
      yearOffset: 543,
      maxDate: new Date(),
      defaultDate: new Date(),
      onSelectDate: function (ct, $i) {

          const selectedDate1 = $i.val();
          const parts1 = selectedDate1.split('/');
          
          const day1 = parts1[0];
          const month1 = parts1[1];
          let year1 = parts1[2] - 543; 
          
          const formattedDate1 = `${year1}-${month1}-${day1}`;
          $('#cust_install_date').val(formattedDate1);
      }
    });    

      
  $('#cust_birthday_th').datetimepicker({
    timepicker: false,
    format: 'd/m/Y',
    lang: 'th',
    autoclose: true,
    yearOffset: 543,
    maxDate: new Date(),
    defaultDate: new Date(),
    onSelectDate: function (ct, $i) {

        const selectedDate = $i.val();
        const parts = selectedDate.split('/');
        
        const day = parts[0];
        const month = parts[1];
        let year = parts[2] - 543; 
        
        const formattedDate = `${year}-${month}-${day}`;
        $('#cust_birthday').val(formattedDate);
    }
});

 });
</script>


    {% comment %} Address Selected {% endcomment %}
<script>
  $(document).ready(function(){
      $.ajax({
          url: '{% url 'wrtonline:find_provinces' %}',
          method: 'GET',
          success: function(data){
              let $selectProvince = $('#cust_province');
              $.each(data, function(index, province){
                  $selectProvince.append('<option value="'+ province.id +'">'+ province.name +'</option>');
              });
          },
          error: function(xhr, status, error){
              console.error('Error finding provinces:', error);
          }
      });
      
      $('#cust_province').change(function(){
          let provinceId = $(this).val();
          let provinceName = $("#cust_province option:selected").text();
          $("#selected_province_name").val(provinceName);
          $("#cust_province_id").val(provinceId);
          $("#cust_district").empty().append('<option value selected disabled hidden>- กรุณาเลือกอำเภอ -</option>'); 
          $("#cust_subdistrict").empty().append('<option value selected disabled hidden>- ตำบล -</option>'); 

          $("#selected_district_name").val("");
          $("#cust_district_id").val("");
          $("#cust_district").val("");
          $("#selected_subdistrict_name").val("");
          $("#cust_subdistrict_id").val("");
          $("#cust_subdistrict").val("");
          $("#cust_postcode").val("");
          $("#cust_postalcode").val("");

          $.ajax({
              url: '{% url 'wrtonline:find_districts' %}',
              method: 'POST',
              data: {
                  provinceId: provinceId
              },
              success: function(data){
                  let $selectDistrict = $('#cust_district');
                  $.each(data, function(index, district){
                      $selectDistrict.append('<option value="'+ district.id +'">'+ district.name +'</option>');
                  });
              },
              error: function(xhr, status, error){
                  console.error('Error finding districts:', error);
              }
          });
      });


      $('#cust_district').change(function(){
        let districtId = $(this).val();
        let districtName = $("#cust_district option:selected").text();
        $("#selected_district_name").val(districtName);
        $("#cust_district_id").val(districtId);
        $("#cust_subdistrict").empty().append('<option value selected disabled hidden>- กรุณาเลือกตำบล -</option>'); 


        $("#selected_subdistrict_name").val("");
        $("#cust_subdistrict_id").val("");
        $("#cust_subdistrict").val("");
        $("#cust_postcode").val("");
        $("#cust_postalcode").val("");

        $.ajax({
            url: '{% url 'wrtonline:find_subdistricts' %}',
            method: 'POST',
            data: {
                districtId: districtId
            },
            success: function(data){
                let $selectSubDistrict = $('#cust_subdistrict');
                $.each(data, function(index, subdistrict){
                    $selectSubDistrict.append('<option value="'+ subdistrict.id +'">'+ subdistrict.name +'</option>');
                });
            },
            error: function(xhr, status, error){
                console.error('Error finding subdistricts:', error);
            }
        });
    });


    $('#cust_subdistrict').change(function(){
      let SubdistrictId = $(this).val();
      let subdistrictName = $("#cust_subdistrict option:selected").text();
      $("#selected_subdistrict_name").val(subdistrictName);
      $("#cust_subdistrict_id").val(SubdistrictId);
      //$("#cust_postcode").empty().append('<option value selected disabled hidden>- กรุณาเลือกตำบล -</option>'); 
      $("#cust_postcode").val("");
      $("#cust_postalcode").val("");

      $.ajax({
          url: '{% url 'wrtonline:find_zipcode' %}',
          method: 'POST',
          data: {
              SubdistrictId: SubdistrictId
          },
          success: function(data){
              let $selectZipcode = $('#cust_postcode');
              let $selectZipcodeid = $('#cust_postalcode');
              $.each(data, function(index, zipcode){
                  let postalcode = zipcode.code;
                  let postalid = zipcode.code;
                  $selectZipcode.val(postalcode);
                  $selectZipcodeid.val(postalid);
              });
          },
          error: function(xhr, status, error){
              console.error('Error finding Zipcode:', error);
          }
      });
  });

  });
  </script>

  {% comment %} Car Selected {% endcomment %}

  <script>
    $(document).ready(function(){
        $.ajax({
            url: '{% url 'wrtonline:find_carbrand' %}',
            method: 'GET',
            success: function(data){
                let $selectCarBrand = $('#cust_carbrand');
                $.each(data, function(index, carBrand){
                    $selectCarBrand.append('<option value="'+ carBrand.id +'">'+ carBrand.name +'</option>');
                });
            },
            error: function(xhr, status, error){
                console.error('Error finding car brand:', error);
            }
        });
        
        $('#cust_carbrand').change(function(){
            let carbrandId = $(this).val();
            $("#cust_carmodel").empty().append('<option value selected disabled hidden>- กรุณาเลือกรุ่นรถ -</option>'); 

            $("#selected_carmodel_name").val("");
            $("#cust_carmodel_id").val("");
            $("#cust_carmodel").val("");
            
            $.ajax({
                url: '{% url 'wrtonline:find_carmodel' %}',
                method: 'POST',
                data: {
                    carbrandId: carbrandId
                },
                success: function(data){
                    let $selectCarModel = $('#cust_carmodel');
                    $.each(data, function(index, carmodel){
                        $selectCarModel.append('<option value="'+ carmodel.id +'">'+ carmodel.name +'</option>');
                    });
                },
                error: function(xhr, status, error){
                    console.error('Error finding carmodel:', error);
                }
            });

            updateSelectedCarBrand();
        });
  
        $('#cust_carmodel').change(function(){
            updateSelectedCarModel();
        });
    });
  
    function updateSelectedCarBrand() {
      var selectBrand = document.getElementById("cust_carbrand");
      var selectedTextBrand = selectBrand.options[selectBrand.selectedIndex].text;
      var selectedBrandId = selectBrand.value;
      
      document.getElementById("selected_carbrand_name").value = selectedTextBrand;
      document.getElementById("cust_carbrand_id").value = selectedBrandId;  
    }
  
    function updateSelectedCarModel() {
      var selectModel = document.getElementById("cust_carmodel");
      var selectedTextModel = selectModel.options[selectModel.selectedIndex].text;
      var selectedModelId = selectModel.value;
  
      document.getElementById("selected_carmodel_name").value = selectedTextModel;
      document.getElementById("cust_carmodel_id").value = selectedModelId;  
    }
  </script>
  

{% comment %} Showroom Install Selected  {% endcomment %}

<script>
  $(document).ready(function(){
      $.ajax({
          url: '{% url 'wrtonline:find_provinces_contact' %}',
          method: 'GET',
          success: function(data){
              let $selectProvinCon = $('#provinceinstall');
              $.each(data, function(index, provinCon){
                  $selectProvinCon.append('<option value="'+ provinCon.id +'">'+ provinCon.name +'</option>');
              });
          },
          error: function(xhr, status, error){
              console.error('Error finding province with contact:', error);
          }
      });
      
      $('#provinceinstall').change(function(){
          let provinConId = $(this).val();
          $("#showroominstall").empty().append('<option value selected disabled hidden>- กรุณาเลือกโชว์รูมที่ติดตั้ง -</option>'); 

          $("#selected_cust_showroom_install").val("");
          $("#showroominstall_id").val("");
          $("#showroominstall").val("");
          
          $.ajax({
              url: '{% url 'wrtonline:find_contact_province' %}',
              method: 'POST',
              data: {
                  provinConId: provinConId
              },
              success: function(data){
                  let $selectconProvin = $('#showroominstall');
                  $.each(data, function(index, conProvin){
                      $selectconProvin.append('<option value="'+ conProvin.id +'">'+ conProvin.name_branch +'</option>');
                  });
              },
              error: function(xhr, status, error){
                  console.error('Error finding contact with province:', error);
              }
          });
      });


  });

  function updateSelectedProvinInstall() {
    var selectProvinCon = document.getElementById("provinceinstall");
    var selectedTextProvinCon = selectProvinCon.options[selectProvinCon.selectedIndex].text;
    document.getElementById("selected_cust_provin_install").value = selectedTextProvinCon;
  }

  function updateSelectedShowInstall() {
    var selectShowRoom = document.getElementById("showroominstall");
    var selectedShowroomId = selectShowRoom.value;

    var selectedTextShowRoom = selectShowRoom.options[selectShowRoom.selectedIndex].text;
    document.getElementById("selected_cust_showroom_install").value = selectedTextShowRoom;
    document.getElementById("showroominstall_id").value = selectedShowroomId;  
  }

  function updateSelectedLocationInstall() {
    var selectLocation = document.getElementById("locationinstall");
    var selectedTextLocation = selectLocation.options[selectLocation.selectedIndex].text;
    document.getElementById("selected_cust_location").value = selectedTextLocation;
  }
  </script> 


 
{% comment %} frontInstall_position product group เฉพาะบานหน้าเต็มบาน {% endcomment %}
  <script>
    $(document).ready(function(){
      $.ajax({
          url: '{% url 'wrtonline:find_group_front' %}',
          method: 'GET',
          success: function(data){
              let $selectGroupFront = $('#front_group');
              $.each(data, function(index, GroupFront){
                  $selectGroupFront.append('<option value="'+ GroupFront.id +'">'+ GroupFront.name +'</option>');
              });
          },
          error: function(xhr, status, error){
              console.error('Error finding front group:', error);
          }
      });
  
      $('#front_group').change(function(){
          let selectedGroupText = $(this).find("option:selected").text();
          
          $('#frontInstall_group').val(selectedGroupText);
  
          $("#front_product").empty().append('<option value selected disabled hidden>- กรุณาเลือกรุ่นฟิล์ม -</option>'); 
          $("#frontInstall_product").val("");
          $("#front_product").val("");
  
          $.ajax({
              url: '{% url 'wrtonline:find_product_front' %}',
              method: 'POST',
              data: {
                  GroupfrontName: selectedGroupText 
              },
              success: function(data){
                  let $selectProductFront = $('#front_product');
                  $.each(data, function(index, productFront){
                      $selectProductFront.append('<option value="'+ productFront.id +'">'+ productFront.code +'</option>');
                  });
              },
              error: function(xhr, status, error){
                  console.error('Error finding product Front:', error);
              }
          });
  
          updateSelectedBannaRobGroup(); 
      });
  
      $('#front_product').change(function(){
          updateSelectedBannaRobPro();
      });
  });
  
  function updateSelectedBannaRobGroup() {
      var selectBanrobGroup = document.getElementById("front_group");
      var selectedTextBanrobGroup = selectBanrobGroup.options[selectBanrobGroup.selectedIndex].text;
      document.getElementById("frontInstall_group").value = selectedTextBanrobGroup; 
  }
  
  function updateSelectedBannaRobPro() {
      var selectBanrobPro = document.getElementById("front_product");
      var selectedTextBanrobPro = selectBanrobPro.options[selectBanrobPro.selectedIndex].text;
      document.getElementById("frontInstall_product").value = selectedTextBanrobPro; 
  }
  
   
</script>

{% comment %} around_position product group เฉพาะบานหน้าเต็มบาน {% endcomment %}
<script>
  $(document).ready(function(){
    $.ajax({
        url: '{% url 'wrtonline:find_group_around' %}',
        method: 'GET',
        success: function(data){
            let $selectGroupAround = $('#around_group');
            $.each(data, function(index, GroupAround){
                $selectGroupAround.append('<option value="'+ GroupAround.id +'">'+ GroupAround.name +'</option>');
            });
        },
        error: function(xhr, status, error){
            console.error('Error finding around group:', error);
        }
    });

    $('#around_group').change(function(){
        let selectedGroupText = $(this).find("option:selected").text();
        
        $('#aroundInstall_group').val(selectedGroupText);

        $("#around_product").empty().append('<option value selected disabled hidden>- กรุณาเลือกรุ่นฟิล์ม -</option>'); 
        $("#aroundInstall_product").val("");
        $("#around_product").val("");

        $.ajax({
            url: '{% url 'wrtonline:find_product_around' %}',
            method: 'POST',
            data: {
                GrouparoundName: selectedGroupText 
            },
            success: function(data){
                let $selectProductAround = $('#around_product');
                $.each(data, function(index, productAround){
                    $selectProductAround.append('<option value="'+ productAround.id +'">'+ productAround.code +'</option>');
                });
            },
            error: function(xhr, status, error){
                console.error('Error finding product around:', error);
            }
        });

        updateSelectedRobCarGroup(); 
    });

    $('#around_product').change(function(){
      updateSelectedRobCarPro();
    });
});

function updateSelectedRobCarGroup() {
    var selectAroundGroup = document.getElementById("around_group");
    var selectedTextAroundGroup = selectAroundGroup.options[selectAroundGroup.selectedIndex].text;
    document.getElementById("aroundInstall_group").value = selectedTextAroundGroup; 
}

function updateSelectedRobCarPro() {
    var selectAroundPro = document.getElementById("around_product");
    var selectedTextAroundPro = selectAroundPro.options[selectAroundPro.selectedIndex].text;
    document.getElementById("aroundInstall_product").value = selectedTextAroundPro; 
}

 
</script>

{% comment %} another position product group เฉพาะบานหน้าเต็มบาน {% endcomment %}
<script>
  $(document).ready(function(){
    $.ajax({
        url: '{% url 'wrtonline:find_group_another' %}',
        method: 'GET',
        success: function(data){
            let $selectGroupAnother = $('#another_group');
            $.each(data, function(index, GroupAnother){
                $selectGroupAnother.append('<option value="'+ GroupAnother.id +'">'+ GroupAnother.name +'</option>');
            });
        },
        error: function(xhr, status, error){
            console.error('Error finding another group:', error);
        }
    });

    $('#another_group').change(function(){
        let selectedGroupText = $(this).find("option:selected").text();
        
        $('#anotherInstall_group').val(selectedGroupText);

        $("#another_product").empty().append('<option value selected disabled hidden>- กรุณาเลือกรุ่นฟิล์ม -</option>'); 
        $("#anotherInstall_product").val("");
        $("#another_product").val("");

        $.ajax({
            url: '{% url 'wrtonline:find_product_another' %}',
            method: 'POST',
            data: {
                GroupanotherName: selectedGroupText 
            },
            success: function(data){
                let $selectProductAnother = $('#another_product');
                $.each(data, function(index, productAnother){
                    $selectProductAnother.append('<option value="'+ productAnother.id +'">'+ productAnother.code +'</option>');
                });
            },
            error: function(xhr, status, error){
                console.error('Error finding product another:', error);
            }
        });

        updateSelectedAnotherGroup(); 
    });

    $('#another_product').change(function(){
      updateSelectedAnotherPro();
    });
});

function updateSelectedAnotherGroup() {
    var selectAnotherGroup = document.getElementById("another_group");
    var selectedTextAnotherGroup = selectAnotherGroup.options[selectAnotherGroup.selectedIndex].text;
    document.getElementById("anotherInstall_group").value = selectedTextAnotherGroup; 
}

function updateSelectedAnotherPro() {
    var selectAnotherPro = document.getElementById("another_product");
    var selectedTextAnotherPro = selectAnotherPro.options[selectAnotherPro.selectedIndex].text;
    document.getElementById("anotherInstall_product").value = selectedTextAnotherPro; 
}

 
</script>

<script>
      let genderMapping = {
        "Male": "ชาย",
        "Female": "หญิง",
        "Another": "ไม่ระบุ"
      };
  
      
      let labelMapping = {
        cust_name: "ชื่อ - นามสกุล",
        cust_gender: "เพศ",
        /*cust_mail: "E-mail Address",*/
        cust_phone: "เบอร์ติดต่อ",
        cust_address: "ที่อยู่",
        selected_province_name: "จังหวัด",
        selected_district_name: "อำเภอ",
        selected_subdistrict_name: "ตำบล",
        cust_postalcode: "รหัสไปรษณีย์",
        selected_carbrand_name: "ยี่ห้อรถ",
        selected_carmodel_name: "รุ่นรถ",
        cust_liceseplatered: "เลขทะเบียนรถป้ายแดง",
        cust_liceseplateblack: "เลขทะเบียนรถป้ายดำ",
        cust_vin: "หมายเลขตัวถัง (VIN)",
        cust_install_dateTH: "วันที่ติดตั้ง",
        selected_cust_provin_install: "จังหวัดที่ติดตั้ง",
        selected_cust_showroom_install: "ศูนย์ตัวแทนจำหน่ายฯ และติดตั้ง",
        frontInstall_product: "รุ่นฟิล์มที่ติดตั้ง เฉพาะบานหน้าเต็มบาน",
        aroundInstall_product: "รุ่นฟิล์มที่ติดตั้ง รอบคัน ยกเว้นบานหน้า",
        anotherInstall_position: "บริเวณที่ติดตั้งอื่น ๆ",
        anotherInstall_product: "รุ่นฟิล์มที่ติดตั้ง บริเวณอื่น ๆ"
      };
      
      document.getElementById('previewButton').addEventListener('click', function() {
        let formData = new FormData(document.getElementById('frm'));
        let previewContent = '<table class="table table-bordered"><thead><tr><th>รายละเอียด</th><th>ข้อมูล</th></tr></thead><tbody>';
    
        formData.forEach((value, key) => {
          if (labelMapping[key]) {
            let label = labelMapping[key];
            
            if (key === 'cust_gender') {
              value = genderMapping[value] || value; 
            }
            
            // ตรวจสอบว่าค่าที่ส่งไปยัง previewContent เป็นค่าว่างหรือไม่
            if (value === "") {
              value = "-";  
          }

            previewContent += `<tr><td><strong>${label}</strong></td><td>${value}</td></tr>`;
          }
        });
    
        document.getElementById('previewContent').innerHTML = previewContent;
        $('#previewModal').modal('show');
      });
    
      document.getElementById('confirmButton').addEventListener('click', function(event) {
        let licensePlateBlack = document.getElementById('cust_liceseplateblack').value;
        let vin = document.getElementById('cust_vin').value;
        let customername = document.getElementById('cust_name').value;
        let customerbirthday = document.getElementById('cust_birthday').value;
        let customergender = document.getElementById('cust_gender').value;
        let customerphone = document.getElementById('cust_phone').value;
        let customerinstall = document.getElementById('cust_install_date').value;
        let customershowroom = document.getElementById('selected_cust_showroom_install').value;

        let customercarbrand = document.getElementById('selected_carbrand_name').value;
        let customercarmodel = document.getElementById('selected_carmodel_name').value;

        let customerimage = document.getElementById('image').value;
        
  

        if (!licensePlateBlack && !vin) {
          event.preventDefault();
          alert('กรุณากรอกเลขทะเบียนรถป้ายดำ หรือ หมายเลขตัวถัง (VIN) อย่างน้อยหนึ่งช่อง');
          return;
        }
  
        if (!customername) {
          event.preventDefault();
          alert('กรุณากรอก ชื่อ-นามสกุล ให้ครบถ้วน');
          return;
        }
        if (!customerbirthday) {
          event.preventDefault();
          alert('กรุณากรอก วัน/เดือน/ปีเกิด ให้ครบถ้วน');
          return;
        }
        if (!customergender) {
          event.preventDefault();
          alert('กรุณากรอก เพศ ให้ครบถ้วน');
          return;
        }
        if (!customerphone) {
          event.preventDefault();
          alert('กรุณากรอก เบอร์โทร ให้ครบถ้วน');
          return;
        }
        
        if (!customerinstall) {
          event.preventDefault();
          alert('กรุณาระบุ วันที่ติดตั้ง ให้ครบถ้วน');
          return;
        }

        if (!customershowroom) {
          event.preventDefault();
          alert('กรุณาระบุโชว์รูมหรือร้านค้าที่ติดตั้ง');
          return;
        }

        if (!customerimage) {
          event.preventDefault();
          alert('กรุณาอัพโหลดรูปภาพบัตรลงทะเบียน');
          return;
        }
        
        
        if (!customercarbrand) {
          event.preventDefault();
          alert('กรุณาเลือกยี่ห้อรถ');
          return;
        }

        if (!customercarmodel) {
          event.preventDefault();
          alert('กรุณาเลือกรุ่นรถ');
          return;
        }
        
          document.getElementById('frm').submit();

      });
    
  
      document.getElementById('cancelButton').addEventListener('click', function() {
        $('#previewModal').modal('hide');
      });
    </script> 

</body>

</html>
